.woo-revenue-menu{
    margin-top: 30px;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 30px;
    margin-bottom: 20px;
}
.woo-revenue-menu a{
    display: inline-block;
    text-decoration: none;
    line-height: 36px;
    padding: 0 30px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: transparent;
    color: #2980b9;
    border: 2px solid #2980b9;
    margin-right: 30px;
    transition: .4s;
    outline: none;
    border-radius: 8px;
}
.woo-revenue-menu a:hover,
.woo-revenue-menu a.active{
    background-color: #2980b9;
    color: white;
    transition: .4s;
}
.woo-revenue-menu a:last-child{
    margin-right: 0;
}

.caching_orders_button,
.save_pdf_block,
.action-button-block{
    display: flex;
    align-items: center;
}
.caching_orders_button .upload_orders_status,
.save_pdf_block .save_pdf_status,
.action-button-block .action-status{
    padding-left: 15px;
    font-size: 12px;
    display: flex;
    align-items: center;
}
.caching_orders_button .upload_orders_status .description,
.save_pdf_block .save_pdf_status .description,
.action-button-block .action-status .description{
    font-size: 12px;
    padding-left: 5px;
}
.caching_orders_button .upload_orders_status .load-icon,
.save_pdf_block .save_pdf_status .load-icon,
.action-button-block .action-status .load-icon{
    margin-left: 15px;
    position: relative;
    animation: lds-roller 2s infinite;
}
.caching_orders_button .upload_orders_status .load-icon::before,
.save_pdf_block .save_pdf_status .load-icon::before,
.action-button-block .action-status .load-icon::before{
    font-size: 20px;
}
.caching_orders_button .hidden,
.save_pdf_block .hidden,
.action-button-block .hidden{
    display: none;
}

.description-block .actions{
    padding-top: 20px;
}
.description-block .actions button{
    margin-top: 5px;
}

.woo-revenue-pagination{
    padding-top: 20px;
    text-align: center;
}
.woo-revenue-pagination a{
    width: 20px;
    display: inline-block;
    height: 20px;
    border: 1px solid;
    margin-right: 5px;
    line-height: 20px;
    text-decoration: none;
}
.woo-revenue-pagination.woo-revenue-pagination-short a{
    width: 30px;
    height: 30px;
    line-height: 30px;
}
.woo-revenue-pagination a.active{
    background-color: #0073aa;
    color: white;
}

.woo-revenue-cron-data .cron-field{
    padding-bottom: 20px;
}
.woo-revenue-cron-data .cron-field p{
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 12px;
}
.woo-revenue-cron-data .cron-field .single-radio{
    padding-bottom: 8px;
    display: flex;
    align-items: center;
}
.woo-revenue-cron-data .cron-field .single-radio input{
    margin: 0;
}
.woo-revenue-cron-data .cron-field .single-radio label{
    padding-left: 5px;
    font-size: 12px;
}

#main table{
    margin-top: 40px;
    width: 100%;
    padding: 20px 0;
    font-size: 14px;
    border-collapse: collapse;
}
#main table,
#main th,
#main td{
    border: 1px solid black;
}
#main table td{
    padding: 3px 5px;
}
#main table thead tr{
    background-color: #636363;
    color: white;
    font-weight: bold;
}
#main table thead tr:last-child{
    background-color: #ecd5c1;
    color: #111111;
    font-weight: normal;
}
#main table thead td{
    text-align: center;
}
#main tr.month-statistic{
    background-color: #ecd2c1;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}